<h1>Search summary</h1>
<form class="form-horizontal" [formGroup]="form" (submit)="search(form.value)" id="form" name="form">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="year">Start Year</label>
            <div class="col-sm-10">
                <select class="form-control" id="year" name="year" formControlName="year">
                    <option *ngFor="let y of dates.years" [ngValue]="y">{{y}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="month">Start Month</label>
            <div class="col-sm-10">
                <select class="form-control" id="month" name="month" formControlName="month">
                    <option *ngFor="let m of dates.months" [ngValue]="m.value">{{m.month}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="eyear">End Year</label>
            <div class="col-sm-10">
                <select class="form-control" id="eyear" name="eyear" formControlName="endYear">
                    <option *ngFor="let y of dates.years" [ngValue]="y">{{y}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="emonth">End Month</label>
            <div class="col-sm-10">
                <select class="form-control" id="emonth" name="emonth" formControlName="endMonth">
                    <option *ngFor="let m of dates.months" [ngValue]="m.value">{{m.month}}</option>
                </select>
            </div>
        </div>
        <div class="btn-group col-sm-offset-2">
            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    </fieldset>
</form>
<div [hidden]="_hist.length===0">
    <h2>Search Results</h2>
    <table class="table table-responsive table-bordered table-striped">
        <caption>Expenditure items</caption>
        <thead>
            <tr>
                <th>Expenditure Item</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let h of _hist">
                <td>{{h.accountNumber}} : {{h.description}}</td>
                <td>{{h.amount |currency:'GH¢'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>{{total() |currency:'GH¢'}}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div [hidden]="_hist.length>0">
    <span class="alert-info">Your search returned zero (0) records</span>
</div>