<div class="page-header">
    <h1>Search department history <small>Specify parameters to search</small></h1>
</div>
<form class="form-horizontal" [formGroup]="form" (submit)="search(form.value)" id="form" name="form">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="department">Department</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="department" formControlName="id" placeholder="Department">
                    <option *ngFor="let o of departments" [ngValue]="o.departmentsID">{{o.department}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="department">Offset</label>
            <div class="col-sm-10">
                <input class="form-control" id="offset" name="offset" formControlName="fetch" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="department">Year</label>
            <div class="col-sm-10">
                <select class="form-control" id="year" name="year" formControlName="year">
                    <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="department">Month</label>
            <div class="col-sm-10">
                <select class="form-control" id="month" name="month" formControlName="month">
                    <option *ngFor="let m of months" [ngValue]="m.value">{{m.month}}</option>
                </select>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    </fieldset>
</form>
<h2>Search Results</h2>
<table class="table table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>Item</th>
            <th>Cheque #</th>
            <th>PV</th>
            <th>Amount</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let h of _hist">
            <td>{{h.item}}</td>
            <td>{{h.chequeNumber}}</td>
            <td>{{h.pvNumber}}</td>
            <td>{{h.amount}}</td>
            <td>{{h.dateDone |date}}</td>
        </tr>
    </tbody>
</table>